/*-------------------- general styles --------------------*/

body {
  background-color: #b2ebf2;
}

header {
  background-color: #0097a7;
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 40px 0;
  border-top: 10px solid #00bcd4;
  border-bottom: 12px solid #00bcd4;
}

#title {
  float: left;
  margin-left: 5%;
  text-align: left;
  width: 45%;
}


/*-------------------- navigation styles --------------------*/

nav {
  float: right;
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
  margin-right: 5%;
  width: 45%;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0px 10px;
  padding: 0px;
  text-align: right;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding: 15px 10px;
  text-shadow: rgb(122, 107, 86) 3px 5px 12px;
  font-size: 1.25em;
}

nav a, nav a:visited {
  color: #b2ebf2;
}

nav a:hover {
  color: #7c4dff;
}

#selected {
  color: #7c4dff;
}



/*-------------------- text formatting --------------------*/

h1 {
  color: #b2ebf2;
  text-shadow: 5px 5px 5px #727272;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 2.5em;
  padding: 20px 0;
}

h2, h3 {
  color: #0097a7;
  margin: 10px 30px 20px;
  padding: 10px 30px;
}

p {
  color: #0097a7;
	text-align: center;
  margin: 20px 30px;
  padding: 20px 20px;
}

.error {
  color: #7c4dff;
}


/*-------------------- img formatting --------------------*/

.container {
	display: block;
  margin: 20px auto;
  max-width: 70%;
}

.secret_img {
	border: 1px solid #261A40;
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  box-shadow: 5px 5px 5px #727272;
}

.caption {
  float: left;
  text-align: center;
  width: 50%;
  margin-bottom: 60px;
}

#caption-no-buttons {
  width: 100%;
}



/*-------------------- form formatting --------------------*/

form {
  margin-left: 50px;
  max-width: 300px;
}

.button {
  background-color: #00bcd4;
  color: #7c4dff;
  border: 1px solid #936cff;
  margin: 20px 20px;
  padding: 6px 12px;
  box-shadow: 1px 1px 1px #727272;
  border-radius: 4px;
}

.button:hover {
  background-color: #7c4dff;
  color: #b2ebf2;
  border: 1px solid #727272;

}

.profile {
  margin: 20px;
  float: right;
}

.profile-buttons {
  margin: 20px;
  float: right;
  width: 40%;
}

input[type="text"],
input[type="password"] {
  background-color: #CEF2F7;
  color: #0097a7;
  border: 1px solid #00bcd4;
  margin: 5px 20px 15px;
  width: 100%;
  padding: 5px;
}

#edit-caption {
  margin: 40px 10px 15px;
}

label {
  margin: 0 20px;
  color: #0097a7;
}

#edit-form {
  margin-left: 30px;
  max-width: 100%;
}

.edit {
  width: 70%;
}

.edit-button {
  width: 25%;
  margin: 20px;
  float: right;
}


/*-------------------- login screen formatting --------------------*/

#primary {
  width: 35%;
  float: left;
}

#secondary {
  width: 55%;
  float: right;
}