<%= erb :navbar %>

<h2>Your followers:</h2>

<p>follower 1</p>
<p>follower 2</p>
<p>follower 3</p>
<p>follower 4</p>
<p>follower 5</p>
<p>follower 6</p>
<p>follower 7</p>


<form action="/posts" method="get">
	<input type="submit" value="home">
</form>
