<h2>Sign Up</h2>
<form action="/users" method="post">
  <label for="handle">User name:</label>
  <input type="text" name="handle">
  <label for="email">Email:</label>
  <input type="text" name="email">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="Create Account">
</form>