<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Fugaz+One|Raleway' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>tiekr</title>
</head>
<body>
  <header>
    <img id="logo" src="/img/tieke_logo_bkgd_width200.png">
    <img id="title-logo" src="/img/tiekr_title_width200.png">
    <!-- <h1 id="title">tieker</h1> -->
    <% if session[:user_id] != nil %>
      <%= erb :navbar %>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
