<nav>
    <a href="/posts">home</a> |
    <a href="/followers">followers</a> |
    <a href="/users/<%= session[:user_id] %>">profile</a> |
    <a href="/posts/new">upload</a> |
    <a href="/logout">logout</a>
</nav>