<nav>
  <ul>
    <% if @home == true %>
        <li><a id="selected" href="/posts">home</a></li>
      <% else %>
        <li><a href="/posts">home</a></li>
    <% end %>
    <li><a href="/followers">followers</a></li>
    <li><a href="/users/<%= session[:user_id] %>">profile</a></li>
    <li><a href="/posts/new">upload</a></li>
    <li><a href="/logout">logout</a></li>
  </ul>
</nav>