<%= erb :navbar %>

<form action="/posts" method="post">
  <label for="image">Image url:</label>
  <input type="text" name="image">
  <label for="caption">Caption:</label>
  <input type="text" name="caption">
  <input type="submit" value="Create Post">
</form>