<h2>Upload an Image</h2>

<form action="/posts" method="post">
  <label for="image">Image url:</label>
  <input class="field" type="text" name="image"><br>
  <label for="caption">Caption:</label>
  <input class="field" type="text" name="caption"><br>
  <input class="button" type="submit" value="Create Post">
</form>