<h2>Recent posts from people you follow:</h2>

<div class="container">


<% @feed_array.each do |record| %>
	<% record.each do |post| %>
		<img class="secret_img" src="<%= post.img_url %>">
		<p><%= post.caption %> by <a href="/users/<%= post.user.id %>"><%= post.user.handle %></a></p>
	<% end %>
<% end %>

</div>



