
<%= erb :navbar %>

<h1>Recent posts:</h1>

<div class="container">

<% if @posts[0] && @posts[0].size > 0 %>
	<% @posts[0].each_with_index do |post, post_index| %>
			<img class="secret_img" src="<%= post.img_url %>">
			<p><%= post.caption %></p>
	<% end %>
<% end %>

</div>